@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    background-image: url("../imagens/pexels-jesus-setien-otero-2151852775-31949672.jpg");
    background-size: cover;
    background-position: center top;
}

main {
    position: relative;
    width: 100vw;
    height: 100vh;
}

div.caixa-login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -36%);
    width: 320px;
    height: 500px;
    overflow: hidden;
    border-radius: 10px;
}

div.caixa-texto {
    display: none;
}

div.formulario {
    display: block;
    padding: 20px;
    background-color: transparent;
    backdrop-filter: blur(10px);
    border-radius: 10px;
   
   
    
}

div.login {
    display: block;
    width: 90%;
    min-height: 50px;
    margin: 0 auto;

}

 label {
    display: block;
    color: white;
    font-size: 1.1em;
    margin: 10px 0;
 
   
    
}

 input {
    width: 100%;
    height: 30px;
    border: none;
    padding: 16px;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 0.9em;
      
}

::placeholder {
    color: green;
    font-size: 0.9em;
}

.senha{
  font-size: 0.9em;
  text-decoration: none;
  color: white;
  float: right;
  margin-bottom: 12px;
}

.senha:hover {
    text-decoration: underline;
}

input[ type="submit" ]{
   padding: 18px;
   border-radius: 10px; 
   border: none;
   line-height: 0px;
   background-color: rgba(64, 124, 245, 0.974);
   color: white;
   cursor: pointer;
}

input[ type="submit" ]:hover {
    background-color: green;
    border-style: outset;
}

div.linhas {
    display: flex;
}

div.linhas > span {
    
    border-bottom: 2px solid white;
    width: 30%;
    height: 11px;
    margin: 0 auto;

}

div.linhas >p {
    color: white;
}





















a > .icone {
    width: 20px;
}